body {
    background-color: #000000;
    color: white;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    margin: 26px;
}

form {
    max-width: 100%;
    padding: 0 10px;
}

.user-form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

input,
select,
textarea {
    background: black;
    color: white;
    border: 1px solid white;
    padding: 6px;
    border-radius: 2px;
}

.feedback-div {
    display: flex;
    gap: 4px;
}

button[type="submit"] {
    font-family: sans-serif;
    font-size: large;
    background: teal;
    border: transparent;
    border-radius: 2px;
    font-weight: 600;
    padding: 4px 8px;
    margin-left: 24px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background: #00b6b6;
}